---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1200px;
}

.content-container {
  display: flex;
  gap: 2rem;
}

header {
  width: 20%;
  flex-shrink: 0;
}

section {
  width: 75%;
  flex-grow: 1;
}
