---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1200px;
}

header {
  width: 270px;
}

section {
  width: 880px;
}

.tree-view {
  list-style: none;
  padding-left: 0;

  ul {
    list-style: none;
    padding-left: 1.5em;
    margin: 0.25em 0;
    border-left: 1px solid #ccc;
  }

  li {
    position: relative;
    padding: 0.25em 0 0.25em 1em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.75em;
      width: 0.75em;
      height: 1px;
      background: #ccc;
    }
  }

  > li {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  strong {
    color: #333;
  }
}
